<div class="container">
  <mat-toolbar color="accent">
    <span>Lista de plantillas</span>
    <span class="spacer"></span>
    <button (click)="editTemplate(template)"
            *ngIf="templates.selectedOptions.selected[0]?.value as template"
            [matTooltipPosition]="'below'"
            aria-label="Editar plantilla"
            mat-icon-button
            matTooltip="Editar plantilla"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="deleteTemplate(template)"
            *ngIf="templates.selectedOptions.selected[0]?.value as template"
            [matTooltipPosition]="'below'"
            aria-label="Eliminar plantilla"
            mat-icon-button
            matTooltip="Eliminar plantilla"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <button (click)="openDialog()"
            [matTooltipPosition]="'below'"
            aria-label="Agregar plantilla"
            mat-icon-button
            matTooltip="Agregar plantilla"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-selection-list #templates [multiple]="false">
    <mat-list-option *ngFor="let template of (templates$ | async)" [value]="template">
      <div class="d-flex align-items-center" style="height: 80px">
        <img [src]="template.config ? template.config[0].image : 'assets/img/imagen_no_disponible.svg'" alt="logo" class="template-img">
        <span style="line-height: 60px" class="ms-3">{{template.name}}</span>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
