<div class="container">
  <mat-toolbar color="accent">
    <span>Lista de personas que confirmaron asistencia</span>
    <span class="spacer"></span>
    <button
      [matTooltipPosition]="'below'"
      aria-label="Volver a Asistencia"
      mat-icon-button
      matTooltip="Volver a Asistencia"
      routerLink="/app/attendance"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar>
  <mat-selection-list [multiple]="false">
<!--    <mat-list-option *ngFor="let user of (users$ | async)" [value]="user">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          {{user.name}} {{user.number_list}}-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-list-option>-->
  </mat-selection-list>
</div>
