<div class="container">
  <mat-toolbar color="accent">
    <span>Lista de usuarios</span>
    <span class="spacer"></span>
    <button (click)="deleteUser(user)"
            *ngIf="users.selectedOptions.selected[0]?.value as user"
            [matTooltipPosition]="'below'"
            aria-label="Eliminar usuario"
            mat-icon-button
            matTooltip="Eliminar usuario"
    >
      <mat-icon>person_remove</mat-icon>
    </button>
    <button (click)="redirectToNewUser()"
            [matTooltipPosition]="'below'"
            aria-label="Agregar usuario"
            mat-icon-button
            matTooltip="Agregar usuario"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-selection-list #users [multiple]="false">
    <mat-list-option *ngFor="let user of (users$ | async)?.data" [value]="user">
      {{user.email}} {{user.name}}
    </mat-list-option>
  </mat-selection-list>
</div>
