<div class="container">
  <mat-toolbar color="accent">
    <span>Lista de usuarios</span>
    <span class="spacer"></span>
    <button (click)="deleteUser(user)"
            *ngIf="users.selectedOptions.selected[0]?.value as user"
            [matTooltipPosition]="'below'"
            aria-label="Eliminar usuario"
            mat-icon-button
            matTooltip="Eliminar usuario"
    >
      <mat-icon>person_remove</mat-icon>
    </button>
    <button (click)="redirectToNewUser()"
            [matTooltipPosition]="'below'"
            aria-label="Agregar usuario"
            mat-icon-button
            matTooltip="Agregar usuario"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-selection-list #users [multiple]="false">
    <mat-list-option *ngFor="let user of (users$ | async)" [value]="user">
      <div class="row">
        <div class="col-md-10">
          {{user.email}} {{user.name}}
        </div>
        <div class="col d-flex justify-content-end">
          <button
            (click)="setPassword(user)"
            color="accent"
            mat-icon-button
            matTooltip="Cambiar Contraseña"
          >
            <mat-icon>lock</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
