<div class="row mb-3">
  <div class="col-6">
    <mat-card class="example-card">
      <mat-card-title>Asistencias</mat-card-title>
      <mat-card-content
        class="d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh"
      >
        <p class="text-result mt-3">
          {{attendance}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-6">
    <mat-card class="example-card">
      <mat-card-title>Inasistencias</mat-card-title>
      <mat-card-content
        class="d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh"
      >
        <p class="text-result mt-3">
          {{absence}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
