:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  min-height: 100vh;

  color: #7f879c;
  //font-size: 1.6rem;
  //font-weight: 400;
  //line-height: 1.5;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
}
