<h1 mat-dialog-title>{{data.text}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field color="accent" class="w-100">
      <mat-label>Expediente</mat-label>
      <input matInput type="text"
             formControlName="expedient">
    </mat-form-field>

    <div class="row">
      <div class="col-4">
        <mat-form-field color="accent" class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput type="text"
                 formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field color="accent" class="w-100">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput type="text"
                 formControlName="last_name">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field color="accent" class="w-100">
          <mat-label>Apellido Materno</mat-label>
          <input matInput type="text"
                 formControlName="mother_last_name">
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="w-100">
      <mat-label>Género</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="MASCULINO">
          MASCULINO
        </mat-option>
        <mat-option value="FEMENINO">
          FEMENINO
        </mat-option>
        <mat-option value="OTRO">
          OTRO
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
      <mat-label>Teléfono</mat-label>
      <input matInput type="text"
             formControlName="phone_number"
             digitOnly>
      <mat-error *ngIf="phoneNumber?.touched && phoneNumber?.hasError('maxlength')">El número de teléfono no puede ser mayor a 10 dígitos</mat-error>
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
      <mat-label>Dependencia</mat-label>
      <input matInput type="text"
             formControlName="dependency">
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
      <mat-label>Área de afiliación</mat-label>
      <input matInput type="text"
             formControlName="affiliation_area">
    </mat-form-field>

    <div class="row">
      <div class="col-4">
        <mat-form-field color="accent" class="w-100">
          <mat-label>Descripción del cargo</mat-label>
          <input matInput type="text"
                 formControlName="denomination_job">
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field color="accent" class="w-100">
          <mat-label>Descripción del puesto</mat-label>
          <input matInput type="text"
                 formControlName="denomination_job_description">
        </mat-form-field>
      </div>

      <div class="col-4">
        <mat-form-field color="accent" class="w-100">
          <mat-label>Clave de trabajo</mat-label>
          <input matInput type="text"
                 formControlName="cve_job_level">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-checkbox formControlName="missing_documents">Falta documentación</mat-checkbox>
      </div>
    </div>

<!--    <mat-form-field color="accent" class="w-100 mt-3">-->
<!--      <mat-label>Correo electrónico</mat-label>-->
<!--      <input matInput placeholder="ejemplo@email.com" type="email"-->
<!--             formControlName="email">-->
<!--    </mat-form-field>-->

  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button mat-button color="accent" (click)="save()">Guardar</button>
  <button mat-button mat-dialog-close>Cancelar</button>
</div>
