<mat-toolbar color="primary">
    <img src="../../../assets/img/logo-03.png" alt="logo" height="64">

    <ul class="navigation-items">
        <li>
            <a routerLink="search" routerLinkActive="active-link">Busqueda</a>
        </li>
        <li>
            <a routerLink="results" routerLinkActive="active-link">Resultados</a>
        </li>
    </ul>

    <span class="spacer"></span>
    <button mat-icon-button
            matTooltip="Cerrar sesión"
            [matTooltipPosition]="'below'"
            aria-label="Logout"
            (click)="logout()"
    >
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
