:host {
  grid-area: main;
}

.example-container {
  position: relative;
  height: 100%;
}

.example-table-container {
  display: flex;
  position: relative;
  min-height: 200px;
  height: calc(100% - 120px);
  //max-height: 60vh;
  overflow: auto;
}

table {
  width: 100%;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

th {
  padding: 0 24px !important;
}
